.section-design {
  display: flex;
  position: relative;
  width: 100%;
  color: white;
  .col-6 {
    display: flex;
    width: 50%;
    background: {
      color: #ea4c89;
      image: url("/project/domain.dev/images/design-bg.png");
    }
    transition: background-color 150ms ease-in-out;
    .dribble {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      align-self: center;
    }
  }
  .col-6a {
    display: flex;
    width: 50%;
    background: {
      color: #1769ff;
      image: url("/project/domain.dev/images/design-bg.png");
    }
    transition: background-color 150ms ease-in-out;
    .behance {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      align-self: center;
    }
  }
}

.design-img {
  display: block;
  width: calc(50% - 10px);
  float: left;
  margin: 5px;
  border: 2px solid white;
  box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
  &:hover {
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
  }
}

.design-container {
  min-height: 340px;
}


.design-lead{
  font-size: 30px;
  margin: 30px 0 20px 0;

}

.cf {
  clear: both;
  top: 20px;
}

img {
  width: 100%;
  max-height: 100px;
}

@media all and ("max-width: 855px"){
  .section-design {
    flex-direction: column;
    .col-6 {
      width: 100%;
    }
    .col-6a {
      width: 100%;
    }
  }
}