html {
    background: lightgrey;
}
body {
    font-family: 'Fira Sans', sans-serif;
    background: lightgrey;
    overflow-x: hidden;
  }

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

.body-wrapper {
    position: relative;
    height: 100%;
}

